<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="baidu-site-verification" content="eE6XpIC9xm" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="KEYWords" contect="Lue 的个人博客">
    <meta name="DEscription" contect="小爱米">
    <meta name="Author" contect="卢乐·Lue">
    <link rel="icon" href="~/Content/images/luehead.png" type="image/x-icon" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/Content/favicon.ico">
    <link href="/Content/css/css.css" rel="stylesheet" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">

    <link rel="stylesheet" href="/Content/css/style.css">

    <!-- jQuery -->
    <script src="/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <!-- Modernizr JS -->
    <script src="/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("StyleHead", false)@*View页面自定义特定js/css使用*@
</head>
<body  onload="prettyPrint()">
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
    </div>
    <div class="box-wrap">
        <header role="banner" id="fh5co-header">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fh5co-navbar-brand">
                                <a class="fh5co-logo" href="#"><img src="/Content/images/brand-nav.png"  style="max-height:30px;margin-left:10px;" alt="Closest Logo"></a>
                            </div>
                        </div>
                        <div class="col-md-6" id="cssmenu">
                            <ul class="nav text-center">
                                <li class="@ViewBag.MinPicture"><a href="/MinPicture/Index"><span>小图</span></a></li>
                                @*<li class="@ViewBag.MinWord"><a href="/MinWord/Index">小字</a></li>*@
                                <li class="@ViewBag.MinNote"><a href="/MinNote/Index">小记</a></li>
                                <li class="@ViewBag.ExploringRoom"><a href="/ExploringRoom/Index">色块</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="social">

                                <li><a href="#"><img src="~/Resource/Files/headimage/initial.png" style="max-height:30px;border-radius: 50%;" /></a></li>

                                @*@if (SenseLue.Code.OperatorProvider.Provider.GetCurrent() != null)
                                {
                                    if (string.IsNullOrEmpty(SenseLue.Code.OperatorProvider.Provider.GetCurrent().HeadIcon))
                                    {
                                        <li><a href="#"><img src="~/Resource/Files/headimage/initial.png" style="max-height:30px;border-radius: 50%;" /></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#"><img src="@SenseLue.Code.OperatorProvider.Provider.GetCurrent().HeadIcon" style="max-height:30px;border-radius: 50%;" /></a></li>
                                    }

                                }
                                else
                                {
                                    <li><a href="/Login/Index"><i class="icon-user"></i></a></li>
                                }*@
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- END: header -->
        <script type="text/javascript">
                    $('.progress-bar').animate({ 'width': '20%' }, 10);  //第四个进度节点
        </script>

        <section id="work">
            <div class="container">
                @RenderBody()
            </div>
        </section>

        <footer id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center ">



                        <div class="footer-widget border">
                            <p class="pull-left"><small>©2017 Lue.</small></p>
                            <p class="pull-right"><small><a href="http://www.miitbeian.gov.cn/">赣ICP备16001508号-2</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
            $('.progress-bar').animate({ 'width': '80%' }, 10);  //第四个进度节点
    </script>

    <!-- END: box-wrap -->

    <script src="/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Content/js/jquery.waypoints.min.js"></script>

    <!-- Main JS (Do not remove) -->
    <script src="/Content/js/main.js"></script>

    @RenderSection("ScriptBody", false)@*View页面自定义特定js/css使用*@

    <script type="text/javascript">
        $('.progress-bar').animate({ 'width': '100%' }, 10);  //第四个进度节点
        var num = 0;
        var interval = setInterval(function () {
            if ($('.progress-bar').width() > $(window).width() - 10) {
                $('.progress').fadeOut();
                clearInterval(interval);
            }
        }, 10);

        $(function () {
            $('#cssmenu').prepend('<div id="menu-button">LUE</div>');
            $('#cssmenu #menu-button').on('click', function () {
                var menu = $(this).next('ul');
                if (menu.is(":visible")) {
                    menu.hide(200);
                }
                else {
                    menu.show(200);
                }
            });
        });
    </script>


</body>
</html>
